In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
exited_df_3 = pd.read_csv("Exited_Companies.csv", encoding='unicode_escape')

In [3]:
emerging_df_3 = pd.read_csv("Emerging_Companies.csv", encoding='unicode_escape')

### Emerging Unicorn Companies.

In [4]:
emerging_df_3.head(5)

,Company,Post Money Value,Total Equity Funding,Lead Investors Include,Country,Continent
0,8 Rivers,833.0,100,SK Materials,United States,North America
1,ABLY Corporation,750.0,149,Shinhan Financial Group,South Korea,Asia
2,Absolute,500.0,116,Surge,India,Asia
3,ActiveFence,500.0,100,"CRV, Highland Europe",Israel,Asia
4,Addi,700.0,221,GIC,Colombia,South America

In [5]:
# Display data types of each column
data_types_report = emerging_df_3.dtypes

# Count the number of categorical and numerical columns
categorical_columns = emerging_df_3.select_dtypes(include='object').columns
numerical_columns = emerging_df_3.select_dtypes(exclude='object').columns

num_categorical_columns = len(categorical_columns)
num_numerical_columns = len(numerical_columns)

# Print the report
print("Data Types Report:")
print(data_types_report)
print("\nNumber of Categorical Columns:", num_categorical_columns)
print("Number of Numerical Columns:", num_numerical_columns)

Data Types Report:
Company                    object
Post Money Value          float64
Total Equity Funding        int64
Lead Investors Include     object
Country                    object
Continent                  object
dtype: object

Number of Categorical Columns: 4
Number of Numerical Columns: 2